/* Estilos para APP FOEDI - Secretaría de Administración, 2020 
AUTOR: Marcela López Zatarain
*/


/* Fondo login */
/* Fondo login */
.fondo-login {
    background-color: #F9F9F9;
}

/* Dropdown menu */
.dropdown-toggle::after {
    content: none;
}

.btn-menu, .btn-menu:hover {
    color: #fff;
    background-color: #3b63ac;
    border-color: #3b63ac;
}

.barra_sup {
    color: #fff;
    padding: 15px;
    background-color: #3B63AC;
    position: sticky;
    top: 0;
    z-index: 1000;
}


.barra_sup a {
    color: #8DD0FA;
}
/* Estilo para botones con iconos */
.cuadro-btn{
    width: 35px;
    height: 35px;
}

/* Recuadro app */
.recuadro_app{
    background: #fff;
    border: 1px solid #ccc;
    border-right: none;
    border-left: none;
    padding: 10px;
}
.permiso .descripcion span, .permiso .descripcion strong {
    display:table;
}
.loading *{ 
    background:lightgray!important;
    color:lightgray!important;
    border-color:lightgray!important;
}
.loading input[type=checkbox]{ 
    display: none!important;
}

/* Barra fija en footer */
.barra-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: 10px;
    background-color: #F9F9F9;
    border-top: 1px solid #ccc;
}


.custom-1{
    box-shadow: none;
}